
@font-face {
  /* @font-face kit by Fonts2u (https://fonts2u.com) */ 
  font-family: "LMS Cat Treats"; 
  src: url("./fonts/LMS_CAT.eot") format("eot"), 
  url("./fonts/LMS_CAT.woff") format("woff"), 
  url("./fonts/LMS_CAT.ttf") format("truetype"),
  url("./fonts/LMS_CAT.svg#LMSCatTreats") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kittyface"; 
  src: url("./fonts/Kittyface.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "catcrypt"; 
  src: url("./fonts/catcrypt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: Kittyface, serif;
  color: blue;
  font-size: 7em;
  font-weight: normal;
  text-align: center;
}

.game-header {
  font-family: LMS Cat Treats, serif;
  font-size: 4em;
  font-weight: normal;
  text-align: center;
}

.card-container {
  /* Perspective: 1000px; */
  Display: inline-block;
  Border: 1px solid white;
  /* Background: black; */
}
  
.card-container.flipped .flipper {
  Transform: rotateY(180deg);
}
  
.flipper {
  Transition: 0.6s;
  Transform-style: preserve-3d;
  Position: relative;
}
  
.front, .back {
  Backface-visibility: hidden;
  Position: absolute;
  Left: 0;
  Top: 0;
}
  
.back {
  background-color: rgb(0, 81, 255);
  Z-index: 2;
  Transform: rotateY(0deg);
}
  
.front {
  Transform: rotateY(180deg);
}

.board {
  padding: 0;
}

.board body {
  width: 100%;
}