/* <a href='https://pngtree.com/so/cat'>cat png from pngtree.com</a> */
@font-face {
  /* @font-face kit by Fonts2u (https://fonts2u.com) */ 
  font-family: "LMS Cat Treats"; 
  src: url("./fonts/LMS_CAT.eot") format("eot"), 
  url("./fonts/LMS_CAT.woff") format("woff"), 
  url("./fonts/LMS_CAT.ttf") format("truetype"),
  url("./fonts/LMS_CAT.svg#LMSCatTreats") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kittyface"; 
  src: url("./fonts/Kittyface.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "catcrypt"; 
  src: url("./fonts/catcrypt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
  url(./images/—Pngtree—cute_adorable_cat_vector_pattern_3691386.png);
  cursor: url(cursors/cat-gf-\(526\).cur), auto;
}

h1 {
  font-family: Kittyface, serif;
  color: white;
  text-shadow: 4px 6px #8e1252; /*8e1252*/
  font-size: 7em;
  font-weight: normal;
  text-align: center;
}

.game-header {
  /* grid-column: 1/ -1; span entirety of column*/
  display: flex;
  justify-content: space-evenly;
  font-family: LMS Cat Treats, serif;
  color: white;
  font-size: 4em;
  font-weight: normal;
  text-align: center;
}

button {
  font-family: LMS Cat Treats, serif; 
  font-weight: bold;
  padding: 0;
  background-color: #8e1252;
  color: white;
  border-style: groove;
  border-radius: 12px;
  font-size: 2em;
  height: 50px;
  display: block;
  margin: auto;
  min-width: 150px;
  box-shadow: 2px 3px 4px white;
}  

.card-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 15px;
  margin: 50px;
  justify-content: center;
  perspective: 500px;
}
  
.card {
  border-radius: 3px;
  border-style: groove;
  height: 175px;
  width: 175px;
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card .flipped .flipper {
  transform: rotateY(180deg);
}
  
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
  
.card .front, .back {
  height: 175px;
  width: 175px;
  backface-visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
}

.front {
  transform: rotateY(0deg);
}

.back {
  background: url(./images/—Pngtree-illustration-cat-cat-unicorn_3930649.png), 
  radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(65,120,251,1) 32%,
   rgba(61,102,213,1) 44%, rgba(66,132,251,1) 58%, rgba(66,130,251,1) 61%,
   rgba(66,135,251,1) 63%, rgba(70,73,252,1) 86%);;
  background-size: contain;
  z-index: 2;
  transform: rotateY(0deg);
}

.back:hover {
  transform: translateY(0)
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: repeat(2, auto);
  }

  .game-header {
    flex-direction: column;
    align-items: center;
  }
}